.main_box {
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 5%;
  width: 600px;
  height: 1000px;
  padding: auto;
  border: 1px solid rgba(199, 199, 199, 0.712);
}

.main_box img {
  width: 50%;
  margin-top: 5%;
  margin-left: 150px;
}

.video1 {
  width: 75%;
  margin-left: 80px;
  margin-top: 80px;
}

.video2 {
  width: 75%;
  margin-left: 80px;
  margin-top: 50px;
}

.btn {
  width: 400px;
  height: 40px;
  text-align: center;
  margin: 0px auto;
  background-color: rgb(63, 91, 248);
  border-radius: 15px;
  border: rgb(145, 145, 145);
  font-size: 18px;
  color: aliceblue;
}

.sub_box {
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 50px;
  margin-left: 25vw;
  margin-right: 25vw;
  width: 400px;
  height: 40px;
  border: 1px solid rgba(199, 199, 199, 0.712);
  border-radius: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
